<header>
  <div class="header-right">
    <nav>
      <a href="/products">Products</a>
      <a href="/about">About</a>
      <a href="/cart">Cart</a>
      <% if (user) { %>
        <a href="/orders">Orders</a>
        <a href="/contact">Contact</a>
        <a href="/auth/logout">Sign Out</a>
      <% } else { %>
        <a href="/auth/signin">Sign In</a>
        <a href="/auth/signup">Sign Up</a>
      <% } %>
    </nav>
    <span class="material-symbols-outlined bag-icon">shopping_bag</span>
  </div>
</header>