<div class="side-menu">
  <p class="heading-1">M A R G A R E T<br>H O W E L L</p>
  <div class="menu-items">
    <p>W O M E N</p>
    <p>M E N</p>
    <a href="/products"><p>H O M E P R O D U C T S</p></a>
    <p class="space"></p>
    <p>C A M P A I G N</p>
    <p>L O O K B O O K S</p>
    <p class="space"></p>
    <a href="/about"><p>A B O U T</p></a>
    <p>A R T I C L E S & E X H I B I T I O N S</p>
    <p>S H O P S</p>
  </div>
</div>