<div class="footer">
  <div class="column-1">
    <p>C U S T O M E R S E R V I C E</p>
    <p>C A R E & R E P A I R</p>
    <p>C O N T A C T</p>
    <p>C A R E E R S</p>
  </div>
  <div class="column-2">
    <p>C O R P O R A T E</p>
    <p>S U S T A I N A B I L I T Y</p>
    <p>P R I V A C Y & C O O K I E S</p>
    <p>T E R M S & C O N D I T I O N S</p>
  </div>
  <div class="column-3">
    <p class="hover-p">J O I N O U R M A I L I N G L I S T</p>
    <p id="column-3-pid">Be the first to know about new arrivals, exhibitions and seasonal reductions.</p>
    <div class="column-3-end">
      <p class="column3-p">J O I N</p>
    </div>
    <div class="column-3-bar"></div>
    <div class="column-3-social">
      <p>I N S T A G R A M</p>
      <p>P I N T E R E S T</p>
    </div>
  </div>
</div>
<div class="footer-text">
  <p>©2 0 2 5 M A R G A R E T H O W E L L</p>
</div>
<div class="empty-space"></div>